/*SI PU0'? */
body{
    overflow-x: hidden;
}
/*futura nav-bar*/
.bgk-color-grey, .navbar{
    background-color: #2C3E50;
}
/*futuro jumbo*/
.bgk-color-acqua{
    background-color:#1ABC9C ;  
}
/*stile linee per stella nera*/
.black-line{
    width: 15%;
    height: .2rem;
    background-color: black;
    border-radius: 15px; 
    
}
/*stile linee per stella bianca*/
.white-line{
    width: 15%;
    height: .2rem;
    background-color: white;
    border-radius: 15px; 
}
/*footer*/
.bgk-footer-sup{
    background-color: #3A546D; 
    min-height: 100px; /*TO DO*/
}
.bgk-footer-sub{
    background-color: #2C3E50;
    min-height: 100px; /*TO DO*/
}