/*SI PU0'? */
body{
    overflow-x: hidden;
    margin-top: 56px;
}
/*futura nav-bar*/
.bgk-color-grey, .navbar{
    background-color: #2C3E50;
}
/*hero*/
.bgk-color-acqua{
    background-color:#1ABC9C ;  
}
/*stile linee per stella nera*/
.black-line{
    width: 15%;
    height: .2rem;
    background-color: black;
    border-radius: 15px; 
    
}
/*stile linee per stella bianca*/
.white-line{
    width: 15%;
    height: .2rem;
    background-color: white;
    border-radius: 15px; 
}
/*footer*/
.bgk-footer-sup{
    background-color: #3A546D; 
    
}
.bgk-footer-sub{
    background-color: #2C3E50;
    min-height: 100px; /*TO DO*/
}



/*
 .portfolio .contents:hover::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: green;
    opacity: .5;
}
*/

.form-control{
    padding-inline: 0;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
}

.social{
    width: 3em;
    height: 3em;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}
